a#top
= render 'shared/flash'
= render 'home/sections/s1_top'
= render 'home/sections/s2_smartcube_is'
= render 'home/sections/s3_how_put_together'
= render 'home/sections/s8_consultant'
= render 'home/sections/s9_evidence'
= render 'home/sections/s10_disqount'